/*

DOTS

*/

.dots{
    background-image: linear-gradient(rgba(0,212,255, 0.2) 50%, rgba(128,128,128,0.2) 100%);
    
    position: fixed;
    z-index: -1;
    overflow: hidden;
    height: 100vh;
}
.dot{
    transition: transform 5s;
    transition-timing-function: ease-in-out;
}
.dot-1, .dot-3, .dot-8, .dot-10, .dot-15{
    fill: rgb(105, 224, 227);
}
.dot-2, .dot-7, .dot-5, .dot-9, .dot-14, .dot-13{
    fill: rgb(247, 237, 167);
}
.dot-4, .dot-6, .dot-16, .dot-11, .dot-12{
    fill: rgb(148, 247, 173);
}
.dot-1{
    transform: translate(45%, 32%);
}
.dot-2{
    transform: translate(35%, 19%);
}
.dot-3{
    transform: translate(26%, 40%);
}
.dot-4{
    transform: translate(83%, 11%);
}
.dot-5{
    transform: translate(95%, 77%);
}
.dot-6{
    transform: translate(63%, 25%);
}
.dot-7{
    transform: translate(22%, 86%);
}
.dot-8{
    transform: translate(72%, 28%);
}
.dot-9{
    transform: translate(15%, 34%);
}
.dot-10{
    transform: translate(69%, 38%);
}
.dot-11{
    transform: translate(61%, 94%);
}
.dot-12{
    transform: translate(49%, 74%);
}
.dot-13{
    transform: translate(26%, 62%);
}
.dot-14{
    transform: translate(80%, 43%);
}
.dot-15{
    transform: translate(33%, 45%);
}
.dot-16{
    transform: translate(91%, 70%);
}
